USE [TechMart_DWH]
GO
/****** Object:  StoredProcedure [dbo].[truncate_proc]    Script Date: 10/8/2026 9:43:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[truncate_proc]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        /* =========================================================
           DELETE BRONZE TABLES

           OrderDetails → Orders → Customers / Employees / Products

           Bronze tables currently have no Foreign Keys, but we
           keep the child-first order for consistency.
           ========================================================= */


        /* =========================
           ALEXANDRIA BRONZE
           ========================= */

        DELETE FROM Bronze.Sap_TechMart_ALEX_OrderDetails;

        DELETE FROM Bronze.Sap_TechMart_ALEX_Orders;

        DELETE FROM Bronze.Sap_TechMart_ALEX_Customers;

        DELETE FROM Bronze.Sap_TechMart_ALEX_Employees;

        DELETE FROM Bronze.Sap_TechMart_ALEX_Products;


        /* =========================
           CAIRO BRONZE
           ========================= */

        DELETE FROM Bronze.Sap_TechMart_CAIRO_OrderDetails;

        DELETE FROM Bronze.Sap_TechMart_CAIRO_Orders;

        DELETE FROM Bronze.Sap_TechMart_CAIRO_Customers;

        DELETE FROM Bronze.Sap_TechMart_CAIRO_Employees;

        DELETE FROM Bronze.Sap_TechMart_CAIRO_Products;


        /* =========================================================
           SUCCESS MESSAGE
           ========================================================= */

        PRINT 'Bronze layer deleted successfully.';


    END TRY

    BEGIN CATCH

        /* =========================================================
           ERROR HANDLING
           ========================================================= */

        PRINT 'Error while deleting Bronze layer.';

        THROW;

    END CATCH
END;
