USE [TechMart_DWH]
GO
/****** Object:  StoredProcedure [dbo].[merge_ALEX_Employees]    Script Date: 10/8/2026 9:39:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[merge_ALEX_Employees]
AS
BEGIN
    SET NOCOUNT ON;

    MERGE Silver.Sap_TechMart_ALEX_Employees AS Target
    USING
    (
        SELECT
            EmployeeID,
            EmployeeName,
            JobTitle,
            Phone,
            Email
        FROM Staging.Sap_TechMart_ALEX_Employees
    ) AS Source

    ON Target.EmployeeID = Source.EmployeeID

    WHEN MATCHED AND
    (
        ISNULL(Target.EmployeeName, '') <> ISNULL(Source.EmployeeName, '')
        OR ISNULL(Target.JobTitle, '') <> ISNULL(Source.JobTitle, '')
        OR ISNULL(Target.Phone, '') <> ISNULL(Source.Phone, '')
        OR ISNULL(Target.Email, '') <> ISNULL(Source.Email, '')
    )
    THEN
        UPDATE SET
            Target.EmployeeName = Source.EmployeeName,
            Target.JobTitle = Source.JobTitle,
            Target.Phone = Source.Phone,
            Target.Email = Source.Email

    WHEN NOT MATCHED BY TARGET
    THEN
        INSERT
        (
            EmployeeID,
            EmployeeName,
            JobTitle,
            Phone,
            Email
        )
        VALUES
        (
            Source.EmployeeID,
            Source.EmployeeName,
            Source.JobTitle,
            Source.Phone,
            Source.Email
        );

END;
