USE [TechMart_DWH]
GO
/****** Object:  StoredProcedure [dbo].[merge_ALEX_Orders]    Script Date: 10/8/2026 9:40:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[merge_ALEX_Orders]
AS
BEGIN
    SET NOCOUNT ON;

    MERGE Silver.Sap_TechMart_ALEX_Orders AS Target
    USING
    (
        SELECT
            OrderID,
            CustomerID,
            EmployeeID,
            OrderDate,
            OrderStatus
        FROM Staging.Sap_TechMart_ALEX_Orders
    ) AS Source

    ON Target.OrderID = Source.OrderID

    WHEN MATCHED AND
    (
        ISNULL(Target.CustomerID, 0) <> ISNULL(Source.CustomerID, 0)
        OR ISNULL(Target.EmployeeID, 0) <> ISNULL(Source.EmployeeID, 0)
        OR ISNULL(Target.OrderDate, '19000101') <> ISNULL(Source.OrderDate, '19000101')
        OR ISNULL(Target.OrderStatus, '') <> ISNULL(Source.OrderStatus, '')
    )
    THEN
        UPDATE SET
            Target.CustomerID = Source.CustomerID,
            Target.EmployeeID = Source.EmployeeID,
            Target.OrderDate = Source.OrderDate,
            Target.OrderStatus = Source.OrderStatus

    WHEN NOT MATCHED BY TARGET
    THEN
        INSERT
        (
            OrderID,
            CustomerID,
            EmployeeID,
            OrderDate,
            OrderStatus
        )
        VALUES
        (
            Source.OrderID,
            Source.CustomerID,
            Source.EmployeeID,
            Source.OrderDate,
            Source.OrderStatus
        );

END;
