USE [TechMart_DWH]
GO
/****** Object:  StoredProcedure [dbo].[merge_ALEX_Products]    Script Date: 10/8/2026 9:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[merge_ALEX_Products]
AS
BEGIN
    SET NOCOUNT ON;

    MERGE Silver.Sap_TechMart_ALEX_Products AS Target
    USING
    (
        SELECT
            ProductID,
            ProductName,
            Category,
            Brand,
            UnitPrice,
            StockQuantity
        FROM Staging.Sap_TechMart_ALEX_Products
    ) AS Source

    ON Target.ProductID = Source.ProductID

    WHEN MATCHED AND
    (
        ISNULL(Target.ProductName, '') <> ISNULL(Source.ProductName, '')
        OR ISNULL(Target.Category, '') <> ISNULL(Source.Category, '')
        OR ISNULL(Target.Brand, '') <> ISNULL(Source.Brand, '')
        OR ISNULL(Target.UnitPrice, 0) <> ISNULL(Source.UnitPrice, 0)
        OR ISNULL(Target.StockQuantity, 0) <> ISNULL(Source.StockQuantity, 0)
    )
    THEN
        UPDATE SET
            Target.ProductName = Source.ProductName,
            Target.Category = Source.Category,
            Target.Brand = Source.Brand,
            Target.UnitPrice = Source.UnitPrice,
            Target.StockQuantity = Source.StockQuantity

    WHEN NOT MATCHED BY TARGET
    THEN
        INSERT
        (
            ProductID,
            ProductName,
            Category,
            Brand,
            UnitPrice,
            StockQuantity
        )
        VALUES
        (
            Source.ProductID,
            Source.ProductName,
            Source.Category,
            Source.Brand,
            Source.UnitPrice,
            Source.StockQuantity
        );

END;
