USE [TechMart_DWH]
GO
/****** Object:  StoredProcedure [dbo].[merge_CAIRO_Customers]    Script Date: 10/8/2026 9:41:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[merge_CAIRO_Customers]
AS
BEGIN
    SET NOCOUNT ON;

    MERGE Silver.Sap_TechMart_CAIRO_Customers AS Target
    USING
    (
        SELECT
            CustomerID,
            CustomerName,
            Phone,
            Email,
            City,
            RegistrationDate
        FROM Staging.Sap_TechMart_CAIRO_Customers
    ) AS Source

    ON Target.CustomerID = Source.CustomerID

    WHEN MATCHED AND
    (
        ISNULL(Target.CustomerName, '') <> ISNULL(Source.CustomerName, '')
        OR ISNULL(Target.Phone, '') <> ISNULL(Source.Phone, '')
        OR ISNULL(Target.Email, '') <> ISNULL(Source.Email, '')
        OR ISNULL(Target.City, '') <> ISNULL(Source.City, '')
        OR ISNULL(Target.RegistrationDate, '19000101')
           <> ISNULL(Source.RegistrationDate, '19000101')
    )
    THEN
        UPDATE SET
            Target.CustomerName = Source.CustomerName,
            Target.Phone = Source.Phone,
            Target.Email = Source.Email,
            Target.City = Source.City,
            Target.RegistrationDate = Source.RegistrationDate

    WHEN NOT MATCHED BY TARGET
    THEN
        INSERT
        (
            CustomerID,
            CustomerName,
            Phone,
            Email,
            City,
            RegistrationDate
        )
        VALUES
        (
            Source.CustomerID,
            Source.CustomerName,
            Source.Phone,
            Source.Email,
            Source.City,
            Source.RegistrationDate
        );

END;
