USE [TechMart_DWH]
GO
/****** Object:  StoredProcedure [dbo].[merge_CAIRO_OrderDetails]    Script Date: 10/8/2026 9:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[merge_CAIRO_OrderDetails]
AS
BEGIN
    SET NOCOUNT ON;

    MERGE Silver.Sap_TechMart_CAIRO_OrderDetails AS Target
    USING
    (
        SELECT
            OrderDetailID,
            OrderID,
            ProductID,
            Quantity,
            UnitPrice
        FROM Staging.Sap_TechMart_CAIRO_OrderDetails
    ) AS Source

    ON Target.OrderDetailID = Source.OrderDetailID

    WHEN MATCHED AND
    (
        ISNULL(Target.OrderID, 0) <> ISNULL(Source.OrderID, 0)
        OR ISNULL(Target.ProductID, 0) <> ISNULL(Source.ProductID, 0)
        OR ISNULL(Target.Quantity, 0) <> ISNULL(Source.Quantity, 0)
        OR ISNULL(Target.UnitPrice, 0) <> ISNULL(Source.UnitPrice, 0)
    )
    THEN
        UPDATE SET
            Target.OrderID = Source.OrderID,
            Target.ProductID = Source.ProductID,
            Target.Quantity = Source.Quantity,
            Target.UnitPrice = Source.UnitPrice

    WHEN NOT MATCHED BY TARGET
    THEN
        INSERT
        (
            OrderDetailID,
            OrderID,
            ProductID,
            Quantity,
            UnitPrice
        )
        VALUES
        (
            Source.OrderDetailID,
            Source.OrderID,
            Source.ProductID,
            Source.Quantity,
            Source.UnitPrice
        );

END;
